.vscode/**
.vscode-test/**
.yarn/**
out/**
node_modules/**
src/**
.gitignore
.prettierignore
.yarnrc.yml
esbuild.mjs
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*